In [1]:
import pandas as pd

In [2]:
df1 = pd.read_json("purchase_data.json")
df2 = pd.read_json("purchase_data2.json")
df = pd.concat([df1, df2], ignore_index=True)

In [3]:
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
df[["Age","Gender","Price"]].head()

   Age Gender  Price
0   38   Male   3.37
1   21   Male   2.32
2   34   Male   2.46
3   21   Male   1.36
4   23   Male   1.27

In [14]:
playerCount = len(df["SN"].unique())
playerCount

612

In [25]:
totalNumberPurchases = len(df)
totalNumberPurchases

858

In [26]:
df["SN"].unique()

array(['Aelalis34', 'Eolo46', 'Assastnya25', 'Pheusrical25', 'Aela59',
       'Tanimnya91', 'Undjaskla97', 'Iathenudil29', 'Sondenasta63',
       'Hilaerin92', 'Chamosia29', 'Sally64', 'Iskossa88',
       'Seorithstilis90', 'Sundast29', 'Haellysu29', 'Sundista85',
       'Aenarap34', 'Iskista88', 'Assossa43', 'Irith83', 'Iaralrgue74',
       'Deural48', 'Chanosia65', 'Qarwen67', 'Idai61', 'Aerithllora36',
       'Ilariarin45', 'Phaedai25', 'Eulaeria40', 'Iarilis73', 'Malunil62',
       'Iskimnya76', 'Yararmol43', 'Aisur51', 'Undare39', 'Sondossa91',
       'Chamjasknya65', 'Lassilsa63', 'Tyisur83', 'Aeral43',
       'Lassadarsda57', 'Alaephos75', 'Frichjask31', 'Eusur90',
       'Palatyon26', 'Saellyra72', 'Ililsa62', 'Eosur70', 'Saistyphos30',
       'Reula64', 'Chanirrala39', 'Chadanto83', 'Minduli80', 'Heunadil74',
       'Marilsasya33', 'Alallo58', 'Tyaeristi78', 'Ila44', 'Iskossaya95',
       'Rinallorap73', 'Aeri84', 'Ryanara76', 'Syally44', 'Shaidanu32',
       'Syasriria69', 'Lisiriya82', 'Iskosia51', 'Eosurdru76',
       'Lassimla92', 'Tauldilsa43', 'Erudrion71', 'Chanjaskan37',
       'Sondastan54', 'Strithenu87', 'Chanastsda67', 'Baelollodeu94',
       'Undirrala66', 'Chanosseya79', 'Yaristi64', 'Airi27',
       'Frichaststa61', 'Raysistast71', 'Ithergue48', 'Chanastst38',
       'Sundosiasta28', 'Undotesta33', 'Tyiaduenuru55', 'Iskjaskst81',
       'Iskjaskan81', 'Frichim27', 'Hailaphos89', 'Jiskjask80',
       'Yasurra52', 'Assassasta79', 'Lamyon68', 'Alo67', 'Farenon57',
       'Assistasda90', 'Frichaya88', 'Marassanya92', 'Iskista96',
       'Mindirra92', 'Chadossa56', 'Eoda93', 'Lassast89', 'Philodil43',
       'Tyirithnu40', 'Haerith37', 'Jeyciman68', 'Chamirraya83', 'Yasur85',
       'Koikirra25', 'Quarunarn52', 'Yasur35', 'Isurriarap71',
       'Lassjask63', 'Iliel92', 'Arithllorin55', 'Silideu44',
       'Heosurnuru52', 'Raesty92', 'Eyircil84', 'Isursti83', 'Eurinu48',
       'Saedaiphos46', 'Jiskossa51', 'Sundossast30', 'Ialallo29',
       'Chanosia60', 'Ilosia37', 'Tyeulisu40', 'Yaliru88', 'Jiskassa76',
       'Idairin80', 'Dyally87', 'Quarusrion32', 'Adairialis76',
       'Lirtilsan89', 'Reolacal36', 'Lisirrast82', 'Ilrian97', 'Tyadaru49',
       'Sweecossa42', 'Streural92', 'Queusurra38', 'Lassilsa41',
       'Aisurphos78', 'Marim28', 'Taeduenu92', 'Eodailis27',
       'Lassjaskan73', 'Yadanun74', 'Iskossasda43', 'Aesty51', 'Tyida79',
       'Frichossast75', 'Eratiel90', 'Chamirra53', 'Alarap40',
       'Ralaeriadeu65', 'Reulae52', 'Stryanastip77', 'Iskirra45',
       'Chadadarya31', 'Heuli25', 'Raillydeu47', 'Chamadar61', 'Assassa38',
       'Chanosiaya39', 'Raeri71', 'Hiasri33', 'Lisossa25', 'Sundassa93',
       'Rina82', 'Siarinum43', 'Eurallo89', 'Hirirap39', 'Aidaira26',
       'Zontibe81', 'Farusrian86', 'Undadarla37', 'Lirtossa78',
       'Chanirra56', 'Lisasi93', 'Phadai31', 'Tyithesura58', 'Marilsa48',
       'Siarithria38', 'Marirrasta50', 'Airidil41', 'Sausosia74',
       'Sialaera37', 'Frichistasta59', 'Phadue96', 'Chanirra79',
       'Yarmol79', 'Astydil38', 'Jiskirran77', 'Marjasksda39',
       'Eoralphos86', 'Lisovynya38', 'Frichim77', 'Aellyrialis39',
       'Chamilsan75', 'Saida58', 'Eusri70', 'Aeduera68', 'Qilatie51',
       'Chamistast30', 'Qiluard68', 'Tyaelo67', 'Rithe77', 'Tyeosristi57',
       'Eoral49', 'Aelollo59', 'Lisossa63', 'Wailin72', 'Yarithllodeu72',
       'Lisistaya47', 'Chamadar27', 'Ethruard50', 'Yathecal72', 'Ilimya66',
       'Ialistidru50', 'Tyaerith73', 'Lisistasya93', 'Chamadar79',
       'Iallyphos37', 'Ilogha82', 'Ilaesudil92', 'Meosridil82',
       'Undirrasta89', 'Lirtistanya48', 'Iadueria43', 'Lisjaskan36',
       'Saedue76', 'Undjasksya56', 'Irithrap69', 'Quanenrian83',
       'Phenastya51', 'Marassaya49', 'Yasrisu92', 'Qilanrion65',
       'Chanassa48', 'Iskassa50', 'Frichjaskan98', 'Sirira97',
       'Eoduenurin62', 'Yarirarn35', 'Aillycal84', 'Chanadar44',
       'Lisimsda29', 'Tyidue95', 'Yaralnura48', 'Irillo49', 'Isri59',
       'Aiduecal76', 'Frichosiala98', 'Deelilsasya30', 'Mindilsa60',
       'Iladarla40', 'Chrathybust28', 'Yarithsurgue62', 'Mindossa76',
       'Assilsan72', 'Assassa43', 'Yarolwen77', 'Faralcil63', 'Sondilsa40',
       'Lisossan98', 'Chadossa89', 'Eosrirgue62', 'Filrion44',
       'Lassassasda30', 'Aidain51', 'Aduephos78', 'Hainaria90',
       'Raerithsti62', 'Reuthelis39', 'Sundaststa26', 'Aelin32',
       'Sundadarla27', 'Aeliru63', 'Lisista27', 'Narirra38', 'Eustyria89',
       'Phistym51', 'Salilis27', 'Layjask75', 'Lirtyrdesta65',
       'Syalollorap93', 'Assylla81', 'Eurisuru25', 'Mindjasksya61',
       'Eusri44', 'Rarith48', 'Yalaeria91', 'Iskadarya95', 'Lisossanya98',
       'Iarithdil76', 'Aeliriarin93', 'Raedalis34', 'Sondossa55',
       'Lisico81', 'Ialo60', 'Syathe73', 'Lisassa26', 'Rasrirgue43',
       'Aerillorin70', 'Quelatarn54', 'Airithrin43', 'Lisjasksda68',
       'Aerithnuphos61', 'Lirtosia72', 'Aeliriam77', 'Lisirra55',
       'Aeral97', 'Lisosiast26', 'Lirtistasta79', 'Lisadar44', 'Isurria36',
       'Sundastnya66', 'Raesursurap33', 'Sondassasya91', 'Ermol76',
       'Yadaisuir65', 'Zhisrisu83', 'Sondassa68', 'Yarithphos28',
       'Ingatcil75', 'Eothe56', 'Assithasta65', 'Palurrian69',
       'Iskistasda86', 'Tyaili86', 'Liawista80', 'Seosri62', 'Silinu63',
       'Aela49', 'Assosiasta83', 'Saelollop56', 'Saena74',
       'Tyaelistidru84', 'Chamirrasya33', 'Smecherdi88', 'Leulaesti78',
       'Tyaenasti87', 'Sondassa48', 'Saistydru69', 'Saisrilis27',
       'Indonmol95', 'Fironon91', 'Lirtossanya27', 'Sondadar26',
       'Phalinun47', 'Hiarideu73', 'Qilunan34', 'Pharithdil38',
       'Tyeuladeu30', 'Ina92', 'Aithelis62', 'Indcil77', 'Hallysucal81',
       'Tyeuduephos81', 'Heosrisuir72', 'Lirtassa47', 'Ithesuphos68',
       'Eula35', 'Aina42', 'Ethrusuard41', 'Chanirrasta87', 'Ilirrasda54',
       'Liri91', 'Undadar97', 'Lisosianya62', 'Mindimnya67',
       'Undistasta86', 'Alaesu91', 'Jiskosiala43', 'Heuralsti66',
       'Umuard36', 'Asur53', 'Thryallym62', 'Frichassala85', 'Ilosu82',
       'Pheodai94', 'Undirrasta74', 'Hiasur92', 'Tillyrin30', 'Riralsti91',
       'Iasur80', 'Eryon48', 'Whaestysu86', 'Aiduesu83', 'Iaralsuir44',
       'Chanjask65', 'Frichistast39', 'Phairinum94', 'Ethralan59',
       'Raelly43', 'Lisassasta50', 'Chanastnya43', 'Sondimla25',
       'Chamilsala65', 'Idaria87', 'Lamil79', 'Qaronon57', 'Chadjask77',
       'Ethralista69', 'Phaeduesurgue38', 'Rathellorin54', 'Filon68',
       'Ingonon91', 'Assesi91', 'Aellyria80', 'Aethedru70', 'Tyalaesu89',
       'Tyisriphos58', 'Seudaillorap38', 'Malista67', 'Ristydru66',
       'Yasriphos60', 'Phainasu47', 'Eural50', 'Mindassast27',
       'Iskossan49', 'Qarrian82', 'Eulidru49', 'Inguard95', 'Hiral75',
       'Undast38', 'Airal46', 'Saerallora71', 'Frichossast86', 'Undirra73',
       'Phaestycal84', 'Eosursurap97', 'Seolollo93', 'Ililsan66',
       'Aesur96', 'Iskosian40', 'Aillyriadru65', 'Lisassa49', 'Ialidru40',
       'Sondim43', 'Aethe80', 'Eudasu82', 'Lisirraya76', 'Haedasu65',
       'Iral74', 'Lisjaskya84', 'Saelaephos52', 'Chamim85', 'Lirtista72',
       'Seudanu38', 'Siathecal92', 'Eullydru35', 'Isrirgue68', 'Raithe71',
       'Yathecal82', 'Saralp86', 'Tyeuduen32', 'Aina43', 'Undiwinya88',
       'Silaera56', 'Billysu76', 'Aidaira48', 'Euna48', 'Lamil70',
       'Chamadarnya73', 'Ilast79', 'Sondilsa35', 'Ralonurin90',
       'Marundi65', 'Phaedan76', 'Ilassa51', 'Lirtossa84', 'Chamastya76',
       'Heolo60', 'Thourdirra92', 'Frichadar89', 'Jiskilsa35',
       'Philistirap41', 'Tyidainu31', 'Tridaira71', 'Mindadaran26',
       'Lisassa39', 'Alaesu77', 'Mindossasya74', 'Syadaillo88',
       'Lassilsala30', 'Eusri26', 'Lirtossan50', 'Sondim73', 'Assosia38',
       'Tyeosri53', 'Raesurdil91', 'Anallorgue57', 'Rithe53', 'Quinarap53',
       'Haerithp41', 'Seuthelis34', 'Styaduen40', 'Ennoncil86',
       'Ilaststa70', 'Tyarithn67', 'Aerithnucal56', 'Sundjask71', 'Yalo71',
       'Mindetosya30', 'Chanjaskan89', 'Lirtast83', 'Lassassast73',
       'Strairisti57', 'Filrion59', 'Aellysup38', 'Hala31', 'Chanosiast43',
       'Sundim98', 'Crausirra42', 'Frichast72', 'Sida61', 'Iri67',
       'Ririp86', 'Jiskimsda56', 'Assistast50', 'Euliria52',
       'Aerithriaphos45', 'Phyali88', 'Aeral85', 'Tyaelorgue39',
       'Tyananurgue44', 'Isketo41', 'Sundast87', 'Yadacal26', 'Ilophos58',
       'Marilsanya48', 'Phially37', 'Iduedru67', 'Saidairiaphos61',
       'Chamimla73', 'Eurith26', 'Iskichinya81', 'Hiadanurin36',
       'Tyaelly53', 'Shidai42', 'Bartassaya73', 'Mindosiasya28',
       'Indirrian56', 'Sondim68', 'Cosadar58', 'Leyirra83', 'Inguron55',
       'Ralasti48', 'Lamon28', 'Isri49', 'Eollym91', 'Yalostiphos68',
       'Ailaesuir66', 'Siasri67', 'Ryastycal90', 'Raeduerin33',
       'Assassasda84', 'Nitherian58', 'Chamucosda93', 'Frichilsasya78',
       'Aenasu69', 'Lassista97', 'Sidap51', 'Chamadarsda63', 'Quelaton80',
       'Alim85', 'Iloni35', 'Irim47', 'Undirra90', 'Eolideu96',
       'Aesurstilis64', 'Jiskim75', 'Lirtassa77', 'Hairith93', 'Yarith71',
       'Rarallo90', 'Inadeu25', 'Ilara98', 'Sundaky74', 'Chamjaskya75',
       'Chanjasksda31', 'Heulaedru70', 'Lirtastan49', 'Eusty71',
       'Frichilsa31', 'Palyon91', 'Seostylis96', 'Iskadar31',
       'Pheodaisun84', 'Aeri79', 'Undosian34', 'Aesririam61', 'Firon67',
       'Jiskjask76', 'Chanirra64', 'Isristira52', 'Chaniman66',
       'Yarithrgue83', 'Undilsan50', 'Chamalo71', 'Lisirra44', 'Chamast86',
       'Ardcil81', 'Heudai45', 'Syalallodil59'], dtype=object)

In [28]:
uniqueItems = len(df["Item Name"].unique())
uniqueItems

180

In [29]:
avgPurchasePrice = df["Price"].mean()
avgPurchasePrice

2.9305710955710915

In [31]:
totalRevenue = df["Price"].sum()
totalRevenue

2514.4299999999967

In [39]:
purchasingAnalysis = {"Number of Unique Items":[uniqueItems],
                     "Average Purchase Price":[avgPurchasePrice],
                     "Total Number of Purchases":[totalNumberPurchases],
                     "Total Revenue":[totalRevenue]}

In [41]:
dfpa = pd.DataFrame(purchasingAnalysis)
dfpa

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.930571,180,858,2514.43

In [82]:
dfUserGender = df[['SN','Gender']].drop_duplicates('SN',keep='first')

In [83]:
malePlayerCount = len(dfUserGender[dfUserGender["Gender"]=="Male"])

In [84]:
femalePlayerCount = len(dfUserGender[dfUserGender["Gender"]=="Female"])

In [85]:
otherPlayerCount = 612-(495+108)
otherPlayerCount

9

In [86]:
percentageMalePlayers = malePlayerCount/playerCount*100
percentageFemalePlayers = femalePlayerCount/playerCount*100
percentageOtherPlayers = otherPlayerCount/playerCount*100

In [87]:
genderDemographics = {"Percentage and Count of Male Players":[percentageMalePlayers],
                     "Percentage and Count of Female Players":[percentageFemalePlayers],
                     "Percentage and Count of Other / Non-Disclosed":[percentageOtherPlayers]}

In [88]:
dfgd = pd.DataFrame(genderDemographics)
dfgd

,Percentage and Count of Female Players,Percentage and Count of Male Players,Percentage and Count of Other / Non-Disclosed
0,17.647059,80.882353,1.470588

In [105]:
dfpc = pd.DataFrame(df.groupby("Gender")["Item ID"].count()).rename(columns={"Item ID":"Purchase Count"})

In [104]:
dfapp = pd.DataFrame(df.groupby("Gender")["Price"].mean()).rename(columns={"Price":"Average Purchase Price"})

In [103]:
dftpv = pd.DataFrame(df.groupby("Gender")["Price"].sum()).rename(columns={"Price":"Total Purchase Value"})

In [106]:
dftpv

                       Total Purchase Value
Gender
Female                               424.29
Male                                2052.28
Other / Non-Disclosed                 37.86

In [109]:
dfnv = dftpv/(dftpv.sum())

In [110]:
dfnv.sum()

Total Purchase Value    1.0
dtype: float64

In [34]:
dfDummy = pd.DataFrame({"time":["10:30","2:30"], "date":["June 13","July 20"]})
dfDummy

      date   time
0  June 13  10:30
1  July 20   2:30

In [35]:
dfDummy2 = {"time":["10:30","2:30"], "date":["June 13","July 20"]}

In [38]:
dfDummy2["time"]

['10:30', '2:30']